.container {
  max-width: 1400px;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafa;
}

.container-fluid {
  margin: 0;
  max-width: 100%;
}
nav {
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0.9em;
}

nav i {
  padding: 0 0.5em;
}
nav i.fa-sun {
  color: #e4e40c;
}

nav i.fa-moon {
  color: gray;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Searchbar {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
}

.Searchbar input {
  padding: 0.6em;
  border: none;
  outline: none;
  font-size: 1.45em;
}
.PhotoGallery__View {
  position: relative;
}
.PhotoGallery__View .PhotoGallery__Img--mask {
  display: flex;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
  border-radius: 5px;
}

.PhotoGallery__Img--mask i {
  cursor: pointer;
  transition: 0.3s ease all;
  padding: 0.25em;
}

.PhotoGallery__Img--mask i:hover {
  transform: scale(1.1);
}
.PhotoGallery__View:hover .PhotoGallery__Img--mask {
  opacity: 0.8;
}

.PhotoGallery__Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  margin: 7% 0;
}

.PhotoGallery__Grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  cursor: pointer;
}
