body {
  transition: background-color ease-in-out 0.4s;
  background-color: #fafafa;
}

.container {
  max-width: 1400px;
  padding: 0 25px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  margin: 0;
  max-width: 100%;
}
nav {
  max-width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0.9em;
}

nav i {
  padding: 0 0.5em;
}
nav i.fa-sun {
  color: #e4e40c;
}

nav i.fa-moon {
  color: gray;
}

.Interactive__Buttons {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.Interactive__Buttons i {
  padding: 0 0.7em;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Searchbar {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
}

.Searchbar input {
  padding: 0.6em;
  border: none;
  outline: none;
  font-size: 1.45em;
}

.PhotoGallery__Grid {
  display: grid;
  grid-gap: 20px;
  align-items: stretch;
  margin: 7% 0;
}

.PhotoGallery__Grid.thumbnail {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.PhotoGallery__Grid.large {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.PhotoGallery__Grid .PhotoGallery__Img.thumbnail {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  height: 200px;
  cursor: pointer;
  transition: transform ease 0.3s;
}

.PhotoGallery__Grid .PhotoGallery__Img.large {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  width: 100%;
  height: 230px;
  cursor: pointer;
  transition: transform ease 0.3s;
}

.PhotoGallery__View {
  position: relative;
}
.PhotoGallery__View .PhotoGallery__Img--mask {
  display: flex;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  width: 100%;
  max-width: 200px;
  height: 50px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
  border-radius: 5px;
}

.PhotoGallery__Img--mask i {
  cursor: pointer;
  transition: 0.3s ease all;
  padding: 0.25em;
}

.PhotoGallery__Img--mask i:hover {
  transform: scale(1.1);
}
.PhotoGallery__View:hover .PhotoGallery__Img--mask {
  opacity: 0.8;
}

.selected {
  transform: scale(1.1);
  color: #157145;
}

@media screen and (max-width: 429px) {
  .PhotoGallery__Grid {
    justify-items: center;
  }

  .container {
    margin: 0 auto;
    padding: 0;
  }
}

/**************
  CSS SPINNER LOADER
***************/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
